<main>
    Уважаемый <%= locals.username %> <br />
    Вы успешно зарегестрировались на сайте.<br />
    Подтвердите пожалуйста вашей почту перейди по ссылке <a href=<%= locals.link %>>Личный кабинет ситиматик</a>
</main>