@import url('./fonts.scss');

:root {
	--red: #B22222;
	--dark-blue: #1A1A2E;
	--yellow: #D4AF37;
	--gray: #E3E3E3;
	--gray-secondary: rgba(136, 136, 145, 1);
	--white: #FFFFFF;
	--dark-green: #333333;
	--gradient-yellow: linear-gradient(90deg, #EFC66C 0%, #D59F26 100%);
	--gray-light: rgba(255,255,255, .3);
	--secondary-blue: #gba(0,0,0, .3);
}

.container {
	max-width: 1312px;
	margin: 0 auto;
	padding: 0 16px;
}

body {
	font-size: 18px;
	font-family: 'Play', sans-serif;
	background-color: var(--dark-blue);
	color: var(--dark-blue);
	overflow-x: hidden;

	@media (max-width: $breakpoint-md-min) {
		font-size: 16px;
	}
}

.fonts-oswald {
	font-family: 'Oswald', sans-serif;
}

.fonts-play {
	font-family: 'Play', sans-serif;
}

.fonts-humane {
	font-family: 'Humane', sans-serif;
}
p,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
// 56px
.headline-1 {
	font-size: 3.1em;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	line-height: 140%;


	@media (max-width: $breakpoint-md-min) {
		font-size: 2em
	}
}
// 44px
.headline-2 {
	font-size: 2.45em;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	line-height: 1;

	@media (max-width: $breakpoint-md-min) {
		font-size: 2em;
	}

	@media (max-width: $breakpoint-sm-min) {
		font-size: 1.5em;
	}
}
// 38px
.headline-3 {
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	line-height: 1;

	@media (max-width: $breakpoint-md-min) {
		font-size: 1.6em
	}

	@media (max-width: $breakpoint-sm-min) {
		font-size: 1.3em
	}
}
.headline-4 {
	font-size: 1.7em;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	line-height: 1;

	@media (max-width: $breakpoint-sm-min) {
		font-size: 1.5em;
	}
}
.text-black {
	color: var(--dark-blue);
}
.text-white {
	color: var(--white);
}
.text-gradient {
	background: linear-gradient(90deg, #efc66c 0%, #d59f26 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.text-red {
	color: var(--red) !important;
}
.text-dark {
	color: var(--dark-blue);
}
.pt-8 {
	padding-top: 80px;

	@media (max-width: $breakpoint-sm-min) {
		padding-top: 40px;
	}
}
.pt-12 {
	padding-top: 120px;

	@media (max-width: $breakpoint-sm-min) {
		padding-top: 40px;
	}
}

.pb-12 {
	padding-bottom: 120px;

	@media (max-width: $breakpoint-sm-min) {
		padding-bottom: 40px;
	}
}
.pb-8 {
	padding-bottom: 80px;

	@media (max-width: $breakpoint-sm-min) {
		padding-bottom: 40px;
	}
}

.q-dialog__inner {
	padding: 0;
}
.q-tooltip {
	max-width: 432px;
	background-color: #fff;
	color: #888891;
	font-size: 12px;
	padding: 12px;
	border-radius: 8px;
}
